* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Font Family */
    --font-family: 'Roboto', sans-serif;
    
    /* Color Scheme */
    --primary-dark: #02221b;
    --primary-light: #F8DCAB;
    --accent-1: #054537;
    --accent-2: #E9C46A;
    --text-light: #ede7f1;
    --text-dark: #264653;
    --hover-color: #eae9e9;
}
body {
    background-color: var(--primary-dark);
    color: var(--text-light);
    font-family: var(--font-family);
    padding: 0;
}
nav {
    display: grid;
    place-items: center;
    background-color: var(--accent-1);
}
.sticky-nav-buttons {
    position: sticky;
    top: 0;
    z-index: 100;
}
nav > ul {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
}
li {
    padding: .5em;
    background-color: var(--primary-light);
    border: 1px solid var(--accent-2);
    border-radius: 8px;
    text-align: center;
    color: var(--text-dark);
    transition: all 0.3s ease;
}
li:hover {
    background-color: var(--hover-color);
    cursor: pointer;
    transform: translateY(-2px);
}
.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    place-items: center;
}
.promotion article img {
    width: 100%;
    height: 30vh;
    filter: brightness(0.5);
    object-fit: cover;
    object-position: center;
}
.promotion article {
    position: relative;
}

.promotion-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: var(--accent-1);
}
.logo {
    display: grid;
    place-items: center;
    padding: 1rem;
}
.logo img {
    width: 75px;
    height: auto;
}

.product {
    background-color: var(--accent-1);
    margin: 12px;
    padding: 12px;
}
.product:hover {
    background-color: var(--accent-2);
    margin: 12px;
    cursor: pointer;
}
.product img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}
.footer-logo {
    display: grid;
    place-items: center;
    padding: 1rem;
}
.footer-logo img {
    width: 10%;
    height: auto;
}

/* Add this media query at the end of your CSS file */
@media screen and (max-width: 768px) {
    .content {
        grid-template-columns: 1fr; /* Changes to a single column */
    }
}
