<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Lucky Shrub</title>
    <link rel="icon" type="image/x-icon" href="static-assets/logo-green.png">
</head>
<body>
    <article class="modal" id="modal-monstera-deliciosa">
        <a href="#" class="modal-background"></a>
        <div class="modal-content">
            <section class="modal-product">
                <section class="modal-image">
                    <img src="static-assets/monstera.jpg" alt="Product Image">
                </section>
                <section class="modal-details">
                    <h2>Monstera Deliciosa</h2>
                    <p class="modal-description">The monstera is ...</p>
                    <p>20cmD x 25cmH</p>
                    <p>$59.99</p>
                    <p>(4.4) ⭐⭐⭐⭐✨</p>
                    <p>26 reviews</p>
                    <div class="available-in-store">
                        <p>Available in store</p>
                    </div>
                </section>
            </section>
            <a href="#" class="close-modal">&times;</a>
        </div>
    </article>
    <article class="modal" id="modal-elephant-ear">
        <a href="#" class="modal-background"></a>
        <div class="modal-content">
            <section class="modal-product">
                <section class="modal-image">
                    <img src="static-assets/elephant-ear.webp" alt="Product Image">
                </section>
                <section class="modal-details">
                    <h2>Elephant Ear</h2>
                    <p class="modal-description">The Elephant Ear is ...</p>
                    <p>20cmD x 25cmH</p>
                    <p>$59.99</p>
                    <p>(4.4) ⭐⭐⭐⭐✨</p>
                    <p>26 reviews</p>
                    <div class="available-in-store">
                        <p>Available in store</p>
                    </div>
                </section>
            </section>
            <a href="#" class="close-modal">&times;</a>
        </div>
    </article>
    <article class="modal" id="modal-spider-plant">
        <a href="#" class="modal-background"></a>
        <div class="modal-content">
            <section class="modal-product">
                <section class="modal-image">
                    <img src="static-assets/spider-plant.jpg" alt="Product Image">
                </section>
                <section class="modal-details">
                    <h2>Spider Plant</h2>
                    <p class="modal-description">The Elephant Ear is ...</p>
                    <p>20cmD x 25cmH</p>
                    <p>$59.99</p>
                    <p>(4.4) ⭐⭐⭐⭐✨</p>
                    <p>26 reviews</p>
                    <div class="available-in-store">
                        <p>Available in store</p>
                    </div>
                </section>
            </section>
            <a href="#" class="close-modal">&times;</a>
        </div>
    </article>
</body>
</html>